h1, h2 {
    color: aqua;
}

body { 
    background-color: #DDD;
}

.dataframe {
    border: 0;

}

.databox {
    padding-top: 15px;
    margin-top:20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.imagebox {
    padding-top: 15px;
    margin-top:20px;
    background-color: white;
    background-clip: content-box;
}

.imagebox1 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:20px;
    background-color: white;
}

tr:nth-child(even) {background: #DDD}

tr:nth-child(odd) {background: #FFF}

td:nth-child(3), td:nth-last-child(-n+5), th:nth-child(3), th:nth-last-child(-n+5) {
    text-align: right;
}

th, td {
    border-bottom: 1px solid #CCC;
}

.textwrap {
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
}

.textbottom {
    margin: 10px;
    width: 600px;
    height: 500px;
}

.smallimage {
    width: 140px;
    height: 140px;
    margin: 5px;
}


.selectedsmallimage {
    width: 140px;
    height: 140px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: aqua;
}

.largeimage {
    width: 400px;
    height: 300px;
    margin: 10px;
}

@media (max-width: 768px) {
    .textbottom {
        width: 400px;
        height: 330px;
    }   
} 
 
@media (max-width: 576px) {
    .textbottom {
        width: 300px;
        height: 250px;
    } 
    .largeimage {
        width: 300px;
        height: 225px;
        margin: 10px;
    }
}    